<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>

<div>
		<%= link_to 'Edit', edit_authors_post_path(@post), class: 'btn btn-sm btn-warning' %>
	<%= link_to 'Remove', authors_post_path(@post), method: :delete, data: {confirm: 'Jestes pewien?'}, class: 'btn btn-sm btn-danger' %>
</div>


<div class ="row">
	<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
		<h1><%= @post.title %></h1>
		<p>Jan 15, 2016</p>
		<%= @post.body.html_safe %>
	</div>
</div>