<!DOCTYPE html>

<html>
    <head>
        <title>Basic Web Page</title>
    </head>
 
	<body>
				<center>
<font color = "888888" font size="600" font face="'Lato-Thin'">GALANTE</font> 
		
<img src="/Users/Stanislaw/ziemniak/app/views/say/logo.jpg" img style="vertical-align: middle" alt="Tu podaj tekst alternatywny"width=45" height="85">

<img src="/Users/Stanislaw/ziemniak/app/views/say/ania" img style="vertical-align: middle" alt="Tu powinna byc Ania"width=45" height="85">


<p>
	<hr style="width: 20%;">
<font face="Courier ">Shop	|	Lookbook	|	Contact  </font>
</center>
		
		<a href="contact.html">Contact</a>
		
		</body>
</html>

